Repository ProjectMilou/frontend, pull requests merged in 2021-04, with the labels that each got.

#128 Feat/portfolio linechart addition
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/charts/KeyFiguresChart.tsx
  src/components/charts/StockChart.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/shared/KeyFiguresBar.tsx
  src/components/shared/KeyFiguresChart.tsx
  src/components/shared/OneKeyFigure.tsx
  src/components/shared/RatioDonut.tsx
  src/components/shared/SectionCard.tsx
  src/components/shared/StockChart.tsx
Labels: app-analyser, portfolio

#130 Feat/search bar
  package.json
  src/components/analyser/search/SearchBar.tsx
  src/components/analyser/search/SearchOption.tsx
  src/components/header/Header.tsx
  src/pages/.LandingPage.tsx.swp
  src/pages/.LandingPage_BASE_1458.tsx.swp
  src/pages/.LandingPage_LOCAL_1458.tsx.swp
  src/pages/.LandingPage_REMOTE_1458.tsx.swp
  src/pages/LandingPage_BASE_1458.tsx
  yarn.lock
Labels: app-analyser

#141 Analyser
  package.json
  src/analyser/APIMocks.ts
  src/components/analyser/Analyser.tsx
  src/components/analyser/TextOverText.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/SearchBar.tsx
  src/components/analyser/search/SearchOption.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/components/header/Header.tsx
  src/components/shared/EuroCurrency.tsx
  src/components/shared/Valuation.tsx
  src/locales/en.json
  src/pages/.LandingPage.tsx.swp
  src/pages/.LandingPage_BASE_1458.tsx.swp
  src/pages/.LandingPage_LOCAL_1458.tsx.swp
  src/pages/.LandingPage_REMOTE_1458.tsx.swp
  src/pages/LandingPage_BASE_1458.tsx
  yarn.lock
Labels: app-analyser

#142 Portfolio/details cards rework
  src/components/analyser/details/DetailsOverview.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/ValueOverName.tsx
  src/components/shared/EuroCurrency.tsx
  src/components/shared/Performance.tsx
  src/components/shared/ValueOverName.test.tsx
  src/locales/en.json
Labels: portfolio

#149 fixed console warnings through properly mocking apex charts
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/setupTests.tsx
Labels: bug

#160 Fix/new analyser apis
  src/analyser/APIClient.ts
  src/analyser/APIMocks.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/SearchBar.tsx
  yarn.lock
Labels: app-analyser

#148 Feat/portfolio dashboard cards
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DashboardActions.tsx
  src/components/portfolio/DashboardCards.tsx
  src/components/portfolio/DashboardTable.test.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/PortfolioOverview.test.tsx
  src/components/portfolio/PortfolioOverview.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
Labels: portfolio

#161 Fix handling of JavaScript errors
  src/Errors.ts
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/portfolio/CreateDialog.test.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DeleteDialog.test.tsx
  src/components/portfolio/DeleteDialog.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsEdit.tsx
  src/components/portfolio/DuplicateDialog.test.tsx
  src/components/portfolio/NameDialog.test.tsx
  src/components/portfolio/NameDialog.tsx
  src/components/portfolio/RenameDialog.test.tsx
  src/components/shared/ErrorMessage.test.tsx
  src/components/shared/ErrorMessage.tsx
  src/portfolio/APIClient.ts
Labels: portfolio

#163 fix: Remove the ToC link from the footer
  src/components/footer/Footer.test.tsx
  src/components/footer/Footer.tsx
Labels: shell

#171 Feat/analyser filterfunctionality
  src/analyser/APIClient.ts
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/Filter.tsx
  src/components/analyser/search/SearchBar.tsx
Labels: app-analyser

#185 Fix/analyser routing
  src/analyser/APIClient.ts
  src/components/App.tsx
  src/components/analyser/Analyser.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.test.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/SearchOption.tsx
  src/components/analyser/search/StockListOverview.tsx
  yarn.lock
Labels: app-analyser

#204 info button component created
  src/components/shared/InfoButton.tsx
  src/components/shared/OneKeyFigure.tsx
Labels: app-analyser

#203 Fix/analyser new apis
  documentation/api_analyser.md
  package.json
  src/analyser/APIClient.ts
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/locales/en.json
  yarn.lock
Labels: app-analyser

#172 Feat/portfolio backtesting
  package.json
  src/components/analyser/TextOverText.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/components/portfolio/DashboardCards.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainBacktesting.tsx
  src/components/portfolio/DetailsMainBacktestingList.tsx
  src/components/portfolio/DetailsMainBacktestingListItem.tsx
  src/components/portfolio/DetailsMainBacktestingTimeline.tsx
  src/components/portfolio/DetailsMainBacktestingTimelineItem.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/EuroCurrency.test.tsx
  src/components/shared/EuroCurrency.tsx
  src/components/shared/Performance.test.tsx
  src/components/shared/Performance.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/components/shared/__snapshots__/EuroCurrency.test.tsx.snap
  src/components/shared/__snapshots__/Performance.test.tsx.snap
  src/locales/en.json
  src/portfolio/APIClient.ts
  yarn.lock
Labels: portfolio

#207 Refactor edit portfolio dialogs
  src/Errors.ts
  src/components/App.tsx
  src/components/portfolio/AddToPortfolioButton.tsx
  src/components/portfolio/DetailsEdit.test.tsx
  src/components/portfolio/DetailsEdit.tsx
  src/components/portfolio/DetailsHeader.test.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/EditDialog.tsx
  src/components/portfolio/ProgressButton.tsx
  src/components/shared/AddToPortfolioButton.tsx
  src/locales/en.json
  src/portfolio/APIClient.test.ts
  src/portfolio/APIClient.ts
  src/portfolio/APIMocks.ts
Labels: portfolio

#209 Fix/analyser new apis
  documentation/api_analyser.md
  src/analyser/APIClient.ts
Labels: app-analyser

#205 Feat/portfolio analysts
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/shared/AnalystBar.tsx
  src/components/shared/AnalystBarIndicator.tsx
  src/locales/en.json
Labels: portfolio

#211 Refactor/use theme functions
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/shell/LinkButton.tsx
  src/components/shell/login/Login.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/login/WelcomeWindow.tsx
  src/components/shell/profile/Profile.tsx
  src/components/shell/register/Register.tsx
  src/components/shell/register/RegisterConfirmWindow.tsx
  src/components/shell/register/RegisterFailedWindow.tsx
  src/pages/.LandingPage.tsx.swp
  src/pages/.LandingPage_BASE_1458.tsx.swp
  src/pages/.LandingPage_LOCAL_1458.tsx.swp
  src/pages/.LandingPage_REMOTE_1458.tsx.swp
  src/pages/LandingPage.tsx
  src/pages/LandingPage_BASE_1458.tsx
Labels: shell

#213 Fix/analyser new apis
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/search/Filter.tsx
  src/components/shared/StockChart.tsx
Labels: app-analyser

#165 Portfolio routing
  src/components/App.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DashboardCards.tsx
  src/components/portfolio/DashboardTable.test.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsHeader.test.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/portfolio/PortfolioOverview.test.tsx
  src/components/portfolio/PortfolioOverview.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/locales/en.json
  src/portfolio/Router.ts
  src/setupTests.tsx
Labels: portfolio

#202 Feat/portfolio correlations heatmap
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
  src/locales/en.json
  src/portfolio/APIClient.ts
  src/portfolio/APIMocks.ts
Labels: portfolio

#219 Feat/balance sheet info
  package-lock.json
  package.json
  patches/react-apexcharts+1.3.7.patch
  src/analyser/APIClient.ts
  src/components/App.tsx
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DashboardCards.tsx
  src/components/portfolio/DashboardTable.test.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsHeader.test.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/portfolio/PortfolioOverview.test.tsx
  src/components/portfolio/PortfolioOverview.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/AnalystBar.tsx
  src/components/shared/AnalystBarIndicator.tsx
  src/components/shell/LinkButton.tsx
  src/components/shell/login/Login.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/login/WelcomeWindow.tsx
  src/components/shell/profile/Profile.tsx
  src/components/shell/register/Register.tsx
  src/components/shell/register/RegisterConfirmWindow.tsx
  src/components/shell/register/RegisterFailedWindow.tsx
  src/locales/en.json
  src/pages/.LandingPage.tsx.swp
  src/pages/.LandingPage_BASE_1458.tsx.swp
  src/pages/.LandingPage_LOCAL_1458.tsx.swp
  src/pages/.LandingPage_REMOTE_1458.tsx.swp
  src/pages/LandingPage.tsx
  src/pages/LandingPage_BASE_1458.tsx
  src/portfolio/Router.ts
  src/setupTests.tsx
  yarn.lock
Labels: app-analyser

#220 Feat/analyser news
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/NewsCard.tsx
  src/components/analyser/details/NewsComponent.tsx
  src/components/analyser/details/SectionDivider.tsx
  src/components/analyser/details/SubsectionDivider.tsx
  src/components/shared/StockChart.tsx
Labels: app-analyser

#222 Analyser in main update
  package-lock.json
  package.json
  patches/react-apexcharts+1.3.7.patch
  src/analyser/APIClient.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/NewsCard.tsx
  src/components/analyser/details/NewsComponent.tsx
  src/components/analyser/details/Risks.tsx
  src/components/analyser/details/SectionDivider.tsx
  src/components/analyser/details/SubsectionDivider.tsx
  src/components/analyser/details/Volatility.tsx
  src/components/analyser/search/Filter.tsx
  src/components/shared/StockChart.tsx
  src/locales/en.json
  yarn.lock
Labels: app-analyser

#226 remove oopsie
  src/components/shell/login/WelcomeWindow.tsx
Labels: bug

#225 Feat/portfolio analytics de and changes to API types
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DetailsAnalyticsDebtEquityBar.tsx
  src/components/portfolio/DetailsEdit.test.tsx
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/locales/en.json
  src/portfolio/APIClient.ts
  src/portfolio/APIMocks.ts
Labels: portfolio

#214 Feat: 404 page and email confirmation path
  src/components/App.tsx
  src/components/header/Header.tsx
  src/components/shell/LinkButton.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/login/WelcomeWindow.tsx
  src/components/shell/register/Register.tsx
  src/components/shell/register/RegisterConfirmWindow.tsx
  src/components/shell/register/RegisterFailedWindow.tsx
  src/components/shell/register/RegisterForm.test.tsx
  src/components/shell/register/RegisterForm.tsx
  src/locales/en.json
  src/pages/Confirm.tsx
  src/pages/Page404.tsx
Labels: shell

#231 Preliminary portfolio authentication
  src/components/analyser/details/Details.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainBacktesting.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/shared/AddToPortfolioButton.tsx
  src/locales/en.json
  src/portfolio/APIClient.test.ts
  src/portfolio/APIClient.ts
Labels: portfolio

#244 Fix/balance sheet none values
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/shared/InfoButton.tsx
  tsconfig.json
Labels: app-analyser

#212 Portfolio Risk Section Additions And Rework
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/locales/en.json
  src/portfolio/Risk.ts
  src/portfolio/Risk.tsx
Labels: portfolio

#245 Fix/portfolio dividends line chart
  src/components/analyser/details/Dividends.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/RatioDonut.tsx
  src/locales/en.json
Labels: portfolio

#249 Fix content type for 'PUT /portfolio/stock/' request.
  src/portfolio/APIClient.ts
Labels: bug, portfolio

#229 Feat/dividends info tip
  src/components/analyser/details/Dividends.tsx
  src/locales/en.json
Labels: app-analyser

#240 Feat/analyser risk rewards
  src/components/analyser/details/BalanceSheetRR.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/DividendsRR.tsx
  src/components/analyser/details/RRfail.tsx
  src/components/analyser/details/RRpass.tsx
  src/components/analyser/details/RisksRR.tsx
Labels: app-analyser

#252 Feat/handle real virtual
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsEdit.test.tsx
  src/components/portfolio/DetailsEdit.tsx
  src/components/portfolio/DetailsHeader.test.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/locales/en.json
Labels: portfolio

#260 Fix/header and overview data
  src/analyser/APIClient.ts
  src/analyser/APIMocks.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.test.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/locales/en.json
Labels: app-analyser

#261 Analyser
  src/analyser/APIClient.ts
  src/analyser/APIMocks.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/BalanceSheetRR.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/DividendsRR.tsx
  src/components/analyser/details/RRfail.tsx
  src/components/analyser/details/RRpass.tsx
  src/components/analyser/details/RisksRR.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.test.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/InfoButton.tsx
  src/locales/en.json
Labels: app-analyser

#251 Feat/analyser div
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/Dividends.tsx
Labels: app-analyser

#265 Fix/header and overview data
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsOverviewCompany.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/DetailsStockChart.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/NewsComponent.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/shared/SectionDivider.tsx
  src/components/shared/StockChart.tsx
  src/components/shared/SubsectionDivider.tsx
  src/components/shared/TextOverText.tsx
  src/locales/en.json
Labels: app-analyser

#264 Added score visualization with 5 color levels
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/PortfolioScore.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/locales/en.json
Labels: portfolio

#266 Fix Dividends keyFigures component
  src/components/portfolio/DetailsMainDividends.tsx
  src/locales/en.json
Labels: portfolio

#241 Feat/sort
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardTableHeader.tsx
Labels: app-analyser

#269 Analyser
  src/analyser/APIClient.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsOverviewCompany.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/DetailsStockChart.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/NewsComponent.tsx
  src/components/analyser/details/Volatility.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardTableHeader.tsx
  src/components/shared/SectionDivider.tsx
  src/components/shared/StockChart.tsx
  src/components/shared/SubsectionDivider.tsx
  src/components/shared/TextOverText.tsx
  src/locales/en.json
Labels: app-analyser

#233 Rework key figures chart
  src/components/analyser/details/KeyFigures.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/KeyFigureSelect.tsx
  src/components/shared/KeyFiguresBar.tsx
  src/components/shared/KeyFiguresChart.tsx
  src/components/shared/OneKeyFigure.tsx
Labels: app-analyser, portfolio

#268 Fix/overall visuals
  package.json
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
  src/components/shared/StockChart.tsx
  src/locales/en.json
  yarn.lock
Labels: portfolio

#270 Login wrapper
  src/components/header/Header.tsx
  src/components/portfolio/LoginWrapper.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/shell/login/WelcomeWindow.tsx
  src/state/context.tsx
Labels: portfolio

#273 Bank account service
  src/components/shell/bankSearch/BankSearch.tsx
  src/components/shell/profile/Profile.tsx
  src/services/BankAccountService.ts
  src/services/BaseService.ts
  src/services/models/bank/IBank.ts
  src/services/models/bank/IBankConnection.ts
  src/services/models/bank/IConnectionsResponse.ts
  src/services/models/bank/ISearchResponse.ts
  src/services/models/common/IPaging.ts
  src/services/tests/BankAccountService.test.ts
Labels: shell

#274 Add info boxes on Portfolio Details Page
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainBacktestingList.tsx
  src/components/portfolio/DetailsMainBacktestingListItem.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/PortfolioScore.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/InfoButton.tsx
  src/locales/en.json
Labels: portfolio

#280 Add missing 'key' prop to components.
  src/components/portfolio/DetailsVolatilityGraph.tsx
  src/components/shared/KeyFiguresBar.tsx
Labels: portfolio

#281 Backtesting API
  src/components/portfolio/DetailsMainBacktesting.tsx
  src/components/portfolio/DetailsMainBacktestingList.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/portfolio/APIClient.ts
Labels: portfolio

#287 fix filters
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/Filter.tsx
Labels: app-analyser

#288 Fix/dashboard table styling
  src/analyser/APIClient.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardTableHeader.tsx
Labels: app-analyser

#279 Shared Volatility Graph
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsVolatilityGraph.tsx
  src/components/portfolio/VolatilityGraphMarketAvg.tsx
  src/components/portfolio/VolatilityGraphPersonalPortfolio.tsx
  src/components/portfolio/VolatilityLineEntry.tsx
  src/components/shared/LargeVolatilityLineEntry.tsx
  src/components/shared/VolatilityGraph.tsx
  src/portfolio/Helper.tsx
Labels: portfolio

#284 Added amount to position cards
  src/components/portfolio/DetailsMainPositions.test.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/locales/en.json
Labels: portfolio

#286 Portfolio performance API
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/PortfolioPerformance.tsx
  src/components/shared/StockChart.tsx
  src/locales/en.json
  src/portfolio/APIClient.ts
Labels: portfolio

#239 Feat/risks
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/Risks.tsx
  src/components/analyser/details/Volatility.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainPositions.test.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsVolatilityGraph.tsx
  src/components/portfolio/VolatilityGraphMarketAvg.tsx
  src/components/portfolio/VolatilityGraphPersonalPortfolio.tsx
  src/components/portfolio/VolatilityLineEntry.tsx
  src/components/shared/LargeVolatilityLineEntry.tsx
  src/components/shared/VolatilityGraph.tsx
  src/locales/en.json
  src/portfolio/Helper.tsx
Labels: app-analyser

#285 Preliminary fix to portfolio score display
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/components/portfolio/PortfolioScore.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
Labels: portfolio

#291 feat: enter key to close pop-ups
  src/components/shell/LinkButton.tsx
  src/components/shell/login/Login.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/register/Register.tsx
  src/components/shell/register/RegisterForm.tsx
  src/components/shell/reset/Reset.tsx
Labels: shell

#309 sub headers added
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/Risks.tsx
  src/components/analyser/details/Volatility.tsx
  src/locales/en.json
Labels: app-analyser

#307 Fix Portfolio Details Header inconsistency
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsHeader.tsx
Labels: portfolio

#306 Feat/fix
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/Filter.tsx
  src/components/analyser/search/FilterBar.tsx
  src/components/shared/DashboardHeader.tsx
  src/components/shared/DividendRatioDonut.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/components/shared/TextOverText.tsx
Labels: app-analyser

#310 Feat: localized strings
  src/components/App.tsx
  src/components/footer/Footer.test.tsx
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/shell/Shell.test.tsx
  src/components/shell/Shell.tsx
  src/components/shell/login/Login.tsx
  src/locales/en.json
  src/pages/Confirm.tsx
Labels: shell

#294 Fix/analyser search bar
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/search/SearchBar.tsx
  src/components/analyser/search/SearchOption.tsx
Labels: app-analyser

#289 Draft: Merge Analyser into Main
  src/analyser/APIClient.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/DetailsStockChart.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/Risks.tsx
  src/components/analyser/details/Volatility.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardTableHeader.tsx
  src/components/analyser/search/Filter.tsx
  src/components/analyser/search/FilterBar.tsx
  src/components/analyser/search/SearchBar.tsx
  src/components/analyser/search/SearchOption.tsx
  src/components/shared/DashboardHeader.tsx
  src/components/shared/DividendRatioDonut.tsx
  src/components/shared/InfoButton.tsx
  src/components/shared/KeyFigureSelect.tsx
  src/components/shared/KeyFiguresBar.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/components/shared/TextOverText.tsx
  src/locales/en.json
Labels: app-analyser

#317 Added portfolio average to D/E bar and rounding tooltip apex
  src/components/portfolio/DetailsAnalyticsDebtEquityBar.tsx
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/KeyFiguresChart.tsx
  src/locales/en.json
  src/portfolio/Helper.tsx
Labels: portfolio

#272 Portfolio dialog tweaks
  src/components/portfolio/EditDialog.tsx
  src/components/shared/AnalystBarIndicator.tsx
Labels: portfolio

#321 Fix/changes of last merge
  src/components/shared/InfoButton.tsx
  src/locales/en.json
Labels: app-analyser, portfolio

#325 Implemented consistent dates (ISO 8601)
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/portfolio/DetailsMainBacktesting.tsx
  src/components/portfolio/DetailsMainBacktestingTimelineItem.tsx
  src/components/portfolio/DetailsMainDividends.tsx
Labels: app-analyser, portfolio

#324 Added sources to portfolio details page
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainBacktestingList.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/shared/InfoButton.tsx
  src/components/shared/KeyFigureSelect.tsx
  src/locales/en.json
Labels: portfolio

#326 Fix/picture component
  src/components/analyser/CompanyLogo.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/search/DashboardCards.tsx
Labels: app-analyser

#330 Remove portfolio score from dashboard and details page
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
Labels: portfolio

#335 feat: increased test coverage for register and login
  src/components/shell/LinkButton.test.tsx
  src/components/shell/login/Login.test.tsx
  src/components/shell/login/LoginForm.test.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/login/WelcomeWindow.test.tsx
  src/components/shell/register/PasswordField.test.tsx
  src/components/shell/register/PasswordField.tsx
  src/components/shell/register/PasswordRequirement.test.tsx
  src/components/shell/register/PasswordRequirement.tsx
  src/components/shell/register/Register.test.tsx
  src/components/shell/register/RegisterForm.test.tsx
  src/components/shell/register/RegisterForm.tsx
  src/components/shell/register/__snapshots__/PasswordField.test.tsx.snap
  src/components/shell/register/__snapshots__/PasswordRequirement.test.tsx.snap
  src/components/shell/register/initialRequirement.tsx
  src/components/shell/reset/ResetChangeForm.tsx
  src/components/shell/utils.ts
Labels: shell

#337 Limited display of numbers and strings on Details
  src/components/portfolio/DashboardCards.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/DeleteDialog.test.tsx
  src/components/portfolio/DeleteDialog.tsx
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMainBacktestingList.tsx
  src/components/portfolio/DetailsMainBacktestingTimeline.tsx
  src/components/portfolio/DetailsMainPositions.test.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/DuplicateDialog.tsx
  src/components/portfolio/EditDialog.tsx
  src/components/portfolio/LimitedString.tsx
  src/components/portfolio/RenameDialog.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/StyledNumberFormat.tsx
  src/locales/en.json
  src/portfolio/APIClient.ts
  src/portfolio/Helper.tsx
Labels: portfolio

#352 Disable Newsletter Form
  src/pages/LandingPage.tsx
  src/pages/components/LogoCard.tsx
  src/pages/components/NewsletterForm.tsx
Labels: beta-report, shell

#350 "Start now" and "Start for Free" buttons lead to analyser
  src/pages/LandingPage.tsx
  src/pages/components/Card.tsx
Labels: beta-report, shell

#351 delete: copyright and mobileApp-link in footer
  src/components/footer/Footer.test.tsx
  src/components/footer/Footer.tsx
  src/locales/en.json
Labels: beta-report, shell

#334 Add placeholder text for edge cases
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/locales/en.json
Labels: portfolio

#338 Fix/analyser news api
  src/analyser/APIClient.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/NewsCard.tsx
  src/components/analyser/details/NewsComponent.tsx
Labels: app-analyser

#354 Fix/portfolio units
  src/components/portfolio/DetailsAnalyticsDebtEquityBar.tsx
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsMainAnalytics.tsx
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/KeyFiguresBar.tsx
  src/components/shared/KeyFiguresChart.tsx
  src/portfolio/Helper.tsx
Labels: portfolio

#360 feat/SearchEnter
  src/components/analyser/search/SearchBar.tsx
Labels: app-analyser

#359 Feat/dividend css
  src/components/analyser/details/Dividends.tsx
Labels: app-analyser

#327 Merge Analyser
  src/analyser/APIClient.ts
  src/components/analyser/CompanyLogo.tsx
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/NewsCard.tsx
  src/components/analyser/details/NewsComponent.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/SearchBar.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/InfoButton.tsx
  src/locales/en.json
Labels: app-analyser

#323 Section components now used everywhere
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/KeyFigures.tsx
Labels: app-analyser

#365 Fixed NaN Values Issue and Numbers now shown as millions
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/shared/KeyFiguresChart.tsx
Labels: app-analyser

#364 Made portfolio button more visible
  src/components/shared/AddToPortfolioButton.tsx
Labels: app-analyser

#371 Fix/analyser table sorting
  src/analyser/APIClient.ts
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/search/DasboardTableRow.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardTableHeader.tsx
Labels: app-analyser

#357 Fix/chart resizing
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/PortfolioPerformance.tsx
  src/components/shared/AnalystBarIndicator.tsx
  src/locales/en.json
  src/portfolio/Helper.tsx
Labels: portfolio

#372 risk area changed & i buttons fixed
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/BalanceSheetInfo.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/Leverage.tsx
  src/components/analyser/details/Risks.tsx
  src/components/analyser/details/Volatility.tsx
  src/locales/en.json
Labels: app-analyser

#363 Add show more button to portfolio details
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainPositionsCard.tsx
  src/components/portfolio/ShowMoreAccordion.tsx
  src/locales/en.json
Labels: portfolio

#374 Fix/analyser risks
  src/components/analyser/details/Leverage.tsx
Labels: app-analyser

#375 Fix: scroll to top on page change
  src/components/App.tsx
Labels: beta-report, shell

#377 Fix/portfolio cards alignment
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainPositionsCard.tsx
  src/components/portfolio/ShowMoreAccordion.tsx
  src/locales/en.json
Labels: portfolio

#379 Fix error when deleting a stock from portfolio.
  src/components/portfolio/EditDialog.tsx
Labels: portfolio

#353 Test init
  src/analyser/APIMocks.ts
  src/analyser/Router.ts
  src/components/analyser/Analyser.test.tsx
  src/components/analyser/details/Volatility.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/DashboardTable.test.tsx
  src/components/analyser/search/StockListOverview.test.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
Labels: app-analyser

#373 Feat/some fix
  src/analyser/APIClient.ts
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/DividendsRR.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/DividendRatioDonut.tsx
  src/locales/en.json
Labels: app-analyser

#380 Revert "Feat/some fix"
  src/analyser/APIClient.ts
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/details/Dividends.tsx
  src/components/analyser/details/DividendsRR.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/DividendRatioDonut.tsx
  src/locales/en.json
Labels: app-analyser

#382 High and low price in last 52 weeks
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/locales/en.json
Labels: app-analyser

#381 Good dividend payout ratio below 50%
  src/components/analyser/details/DividendsRR.tsx
Labels: app-analyser

#384 Feat/no data div and yaers
  src/analyser/APIClient.ts
  src/components/analyser/details/Dividends.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/shared/DividendLineChart.tsx
  src/components/shared/DividendRatioDonut.tsx
Labels: app-analyser

#391 Currency symbol and DivDonut
  src/components/analyser/details/Analysts.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsOverviewInfoBox.tsx
  src/components/analyser/search/DasboardTableRow.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/components/shared/DividendRatioDonut.tsx
  src/components/shared/StyledNumberFormat.tsx
  src/components/shared/TextOverText.tsx
Labels: app-analyser

#393 Hotfix white screen duplicated portfolio
  src/components/portfolio/DetailsMainAnalyticsHeatmap.tsx
Labels: bug, portfolio
