Repository ProjectMilou/frontend, pull requests merged in 2021-03, with the labels that each got.

#49 feat: Add basic CI/CD
  .github/workflows/codeql-analysis.yml
  .github/workflows/linter.yml
  .github/workflows/run-tests.yml
  .github/workflows/s3-deploy.yml
  .idea/runConfigurations/Run_Tests.xml
  src/components/App.test.tsx
  src/components/App.tsx
Labels: shell

#52 Change the test action name
  .github/workflows/run-tests.yml
Labels: enhancement

#54 Make the router work in subdirectories
  public/index.html
Labels: shell

#50 Portfolio dashboard
  .eslintrc
  package.json
  src/Errors.ts
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/footer/Footer.test.tsx
  src/components/header/Header.test.tsx
  src/components/header/Header.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DashboardHeader.test.tsx
  src/components/portfolio/DashboardHeader.tsx
  src/components/portfolio/DashboardTable.test.tsx
  src/components/portfolio/DashboardTable.tsx
  src/components/portfolio/DashboardViewSelect.test.tsx
  src/components/portfolio/DashboardViewSelect.tsx
  src/components/portfolio/ErrorMessage.test.tsx
  src/components/portfolio/ErrorMessage.tsx
  src/components/portfolio/EuroCurrency.test.tsx
  src/components/portfolio/EuroCurrency.tsx
  src/components/portfolio/Performance.test.tsx
  src/components/portfolio/Performance.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/portfolio/PortfolioOverview.test.tsx
  src/components/portfolio/PortfolioOverview.tsx
  src/components/portfolio/__snapshots__/DashboardTable.test.tsx.snap
  src/components/portfolio/__snapshots__/DashboardViewSelect.test.tsx.snap
  src/components/portfolio/__snapshots__/ErrorMessage.test.tsx.snap
  src/components/portfolio/__snapshots__/EuroCurrency.test.tsx.snap
  src/components/portfolio/__snapshots__/Performance.test.tsx.snap
  src/locales/en.json
  src/portfolio/APIClient.ts
  yarn.lock
Labels: portfolio

#67 Feat/static pages styling
  src/components/footer/Footer.tsx
  src/pages/Imprint.tsx
  src/pages/Privacy.tsx
Labels: shell

#83 analyser page is created
  src/components/analyser/Analyser.test.tsx
  src/components/analyser/Analyser.tsx
  src/components/analyser/Dashboard.test.tsx
  src/components/analyser/Dashboard.tsx
  src/components/analyser/DashboardHeader.test.tsx
  src/components/analyser/DashboardHeader.tsx
  src/components/analyser/DashboardTable.test.tsx
  src/components/analyser/DashboardTable.tsx
  src/components/analyser/DashboardViewSelect.test.tsx
  src/components/analyser/DashboardViewSelect.tsx
  src/components/analyser/Details.tsx
  src/components/analyser/ErrorMessage.test.tsx
  src/components/analyser/ErrorMessage.tsx
  src/components/analyser/EuroCurrency.test.tsx
  src/components/analyser/EuroCurrency.tsx
  src/components/analyser/Performance.test.tsx
  src/components/analyser/Performance.tsx
  src/components/analyser/StockListOverview.test.tsx
  src/components/analyser/StockListOverview.tsx
  src/components/analyser/__snapshots__/DashboardTable.test.tsx.snap
  src/components/analyser/__snapshots__/DashboardViewSelect.test.tsx.snap
  src/components/analyser/__snapshots__/ErrorMessage.test.tsx.snap
  src/components/analyser/__snapshots__/EuroCurrency.test.tsx.snap
  src/components/analyser/__snapshots__/Performance.test.tsx.snap
  src/locales/en.json
Labels: app-analyser

#84 Portfolio API client
  package.json
  src/components/header/Header.test.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DashboardTable.test.tsx
  src/components/portfolio/PortfolioOverview.test.tsx
  src/components/shell/login/Login.test.tsx
  src/locales/en.json
  src/portfolio/APIClient.test.ts
  src/portfolio/APIClient.ts
  src/portfolio/APIMocks.ts
  src/setupTests.ts
  yarn.lock
Labels: portfolio

#69 Rename portfolio
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/NameDialog.test.tsx
  src/components/portfolio/NameDialog.tsx
  src/components/portfolio/ProgressButton.test.tsx
  src/components/portfolio/ProgressButton.tsx
  src/components/portfolio/RenameDialog.test.tsx
  src/components/portfolio/RenameDialog.tsx
  src/components/portfolio/__snapshots__/ProgressButton.test.tsx.snap
  src/locales/en.json
  src/portfolio/APIClient.ts
  src/setupTests.ts
  src/setupTests.tsx
Labels: portfolio

#96 Cards created
  documentation/api_analyser.md
  src/analyser/APIClient.ts
  src/analyser/APIMocks.ts
  src/components/analyser/details/Details.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/StockListOverview.tsx
  src/locales/en.json
Labels: app-analyser

#98 Analyser info tip
  package.json
  src/analyser/APIClient.ts
  src/components/analyser/Analyser.tsx
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsDonut.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsLineChart.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsTypes.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/KeyFiguresBar.tsx
  src/components/analyser/details/KeyFiguresChart.tsx
  src/components/analyser/details/OneKeyFigure.tsx
  src/components/analyser/details/SectionCard.tsx
  src/components/analyser/details/StockChart.tsx
  src/components/analyser/details/SummaryValueOverName.tsx
  src/components/analyser/details/ValueOverName.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsEdit.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsLineChart.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/DetailsTypes.tsx
  src/components/portfolio/Portfolio.test.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/portfolio/RatioDonut.tsx
  src/components/portfolio/ValueOverName.test.tsx
  src/components/portfolio/ValueOverName.tsx
  src/locales/en.json
  yarn.lock
Labels: app-analyser

#109 Fix/key figures charts
  src/components/analyser/details/KeyFiguresBar.tsx
  src/components/analyser/details/KeyFiguresChart.tsx
  src/components/analyser/details/OneKeyFigure.tsx
Labels: app-analyser

#101 cards are made clickable
  src/components/analyser/search/DashboardCards.tsx
  src/locales/en.json
Labels: app-analyser

#111 put title and checkbox together
  src/components/analyser/details/OneKeyFigure.tsx
Labels: app-analyser

#108 Extend palette with figma contents
  .idea/vcs.xml
  src/components/App.tsx
Labels: enhancement, shell

#51 Preliminary structure of details
  package.json
  src/components/charts/RatioDonut.tsx
  src/components/portfolio/AddToPortfolioButton.tsx
  src/components/portfolio/Details.tsx
  src/components/portfolio/DetailsDonut.tsx
  src/components/portfolio/DetailsEdit.test.tsx
  src/components/portfolio/DetailsEdit.tsx
  src/components/portfolio/DetailsHeader.test.tsx
  src/components/portfolio/DetailsHeader.tsx
  src/components/portfolio/DetailsMain.tsx
  src/components/portfolio/DetailsMainAnalyst.tsx
  src/components/portfolio/DetailsMainDividends.tsx
  src/components/portfolio/DetailsMainKeyFigures.tsx
  src/components/portfolio/DetailsMainPositions.test.tsx
  src/components/portfolio/DetailsMainPositions.tsx
  src/components/portfolio/DetailsMainRisk.tsx
  src/components/portfolio/DetailsMainSummary.test.tsx
  src/components/portfolio/DetailsMainSummary.tsx
  src/components/portfolio/DetailsTypes.tsx
  src/components/portfolio/Portfolio.test.tsx
  src/components/portfolio/Portfolio.tsx
  src/components/portfolio/ValueOverName.test.tsx
  src/components/portfolio/ValueOverName.tsx
  src/locales/en.json
  yarn.lock
Labels: portfolio

#103 Create, duplicate and delete portfolios
  src/components/portfolio/CreateDialog.test.tsx
  src/components/portfolio/CreateDialog.tsx
  src/components/portfolio/Dashboard.test.tsx
  src/components/portfolio/Dashboard.tsx
  src/components/portfolio/DeleteDialog.test.tsx
  src/components/portfolio/DeleteDialog.tsx
  src/components/portfolio/DuplicateDialog.test.tsx
  src/components/portfolio/DuplicateDialog.tsx
  src/locales/en.json
  src/portfolio/APIClient.test.ts
  src/portfolio/APIClient.ts
Labels: portfolio

#112 feat: API Connection
  package.json
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/components/App.tsx
  src/components/header/Header.tsx
  src/components/header/NavLink.tsx
  src/components/shell/LinkButton.test.tsx
  src/components/shell/LinkButton.tsx
  src/components/shell/login/Login.test.tsx
  src/components/shell/login/Login.tsx
  src/components/shell/login/LoginForm.test.tsx
  src/components/shell/login/LoginForm.tsx
  src/components/shell/login/WelcomeWindow.test.tsx
  src/components/shell/login/WelcomeWindow.tsx
  src/components/shell/register/Register.test.tsx
  src/components/shell/register/Register.tsx
  src/components/shell/register/RegisterConfirmWindow.tsx
  src/components/shell/register/RegisterFailedWindow.tsx
  src/components/shell/register/RegisterForm.tsx
  src/components/shell/utils.ts
  src/locales/en.json
  yarn.lock
Labels: shell

#122 Analyser
  documentation/api_analyser.md
  src/analyser/APIClient.ts
  src/analyser/APIMocks.ts
  src/components/analyser/Analyser.test.tsx
  src/components/analyser/Analyser.tsx
  src/components/analyser/ErrorMessage.test.tsx
  src/components/analyser/ErrorMessage.tsx
  src/components/analyser/EuroCurrency.test.tsx
  src/components/analyser/EuroCurrency.tsx
  src/components/analyser/Performance.test.tsx
  src/components/analyser/Performance.tsx
  src/components/analyser/Valuation.tsx
  src/components/analyser/__snapshots__/ErrorMessage.test.tsx.snap
  src/components/analyser/__snapshots__/EuroCurrency.test.tsx.snap
  src/components/analyser/__snapshots__/Performance.test.tsx.snap
  src/components/analyser/details/Details.tsx
  src/components/analyser/details/DetailsHeader.tsx
  src/components/analyser/details/DetailsLineChart.tsx
  src/components/analyser/details/DetailsOverview.tsx
  src/components/analyser/details/DetailsTypes.tsx
  src/components/analyser/details/KeyFigures.tsx
  src/components/analyser/details/KeyFiguresBar.tsx
  src/components/analyser/details/OneKeyFigure.tsx
  src/components/analyser/details/SummaryValueOverName.tsx
  src/components/analyser/details/ValueOverName.tsx
  src/components/analyser/search/Dashboard.test.tsx
  src/components/analyser/search/Dashboard.tsx
  src/components/analyser/search/DashboardCards.tsx
  src/components/analyser/search/DashboardHeader.test.tsx
  src/components/analyser/search/DashboardHeader.tsx
  src/components/analyser/search/DashboardTable.test.tsx
  src/components/analyser/search/DashboardTable.tsx
  src/components/analyser/search/DashboardViewSelect.test.tsx
  src/components/analyser/search/DashboardViewSelect.tsx
  src/components/analyser/search/Filter.tsx
  src/components/analyser/search/FilterBar.tsx
  src/components/analyser/search/StockListOverview.tsx
  src/components/analyser/search/__snapshots__/DashboardTable.test.tsx.snap
  src/components/cards/SectionCard.tsx
  src/components/charts/KeyFiguresChart.tsx
  src/components/charts/StockChart.tsx
  src/locales/en.json
Labels: app-analyser

#125 Remove typo config for now
  src/components/App.tsx
Labels: bug
